{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accès Biométrique</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Interface d'Authentification</h1>

{% if result == 'success' %}
    <h2 style="color:green;">✔ Accès autorisé</h2>
{% elif result == 'fail' %}
    <h2 style="color:red;">✖ Accès refusé</h2>
{% else %}
    <h2>Veuillez effectuer un test biométrique</h2>
{% endif %}

<a href="{% url 'biometric_test' %}"><button>Faire un test biométrique</button></a>

</body>
</html>