{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accès Biométrique - Visage</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<h2>Accès Biométrique par Visage</h2>

<video id="video" width="400" height="300" autoplay></video>
<br>
<button onclick="startFaceDetection()">Démarrer Détection</button>

<script src="https://unpkg.com/face-api.js"></script>
<script src="{% static 'js/face.js' %}"></script>

</body>
</html>
